@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 overflow-x: hidden;
 font-family: 'Poppins', sans-serif;
  }

 .hero-text {
 color: white;
  }

  .btn{
  color:
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  margin-top: 5px;
   }

 .form{

   width: 500px;
   margin-top: 15px;

 }
 .form>h1{
   color: white;

 }
 .form>input[type=text],
 .form>input[type=number]{
   background: none;
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: none;
   border-bottom: 1px solid white;
   color: white;
   outline: none;
   display: block;

 }