{{#partial "content"}}

    <div id="hero" class="card">
        <img src="/images/index.jpg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="hero-text text-center">
                <h1>WELCOME <br> </h1>
                <h3>This app enables you to create a hero <br> and assign them a squad.</h3>
                <h3>Each squad has a maximum of 5 members</h3>
                <h3>Members should also be in only one squad at a time.</h3>
                <a href="/hero-form"><button class="hero-btn btn-primary">Create Hero</button></a>
                <a href="/squad"><button class="hero-btn btn-primary">Create Squad</button></a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}