{{#partial "content"}}

    <div id="hero" class="card">
        <img src="/images/hero-left1.jpg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="success">

                <h3>Success! <br>
                    <span>{{ element }} </span><br>
                    Has been created.
                </h3>
            </div>
            <a href="/hero"><button class="listbtn btn-primary">Heroes List</button></a>


            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}