{{#partial "content"}}

    <div id="hero" class="card">
        <img src="https://images.alphacoders.com/790/thumb-1920-790802.jpg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="hero-text text-center">
                <h1>Success!</h1>

                Your hero has been saved.
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}